.container {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button{
    cursor: pointer;
    user-select: none;
    background-color: #ad87b1;
    border: none;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 20px; 

  }